@using NiotechoneCQRS.Application.DTOs.RequestDTOs
@using NiotechoneCQRS.Domain.Entities
@{
    Layout = null;
}
@model LoginRequestDTO

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>

    <header class="top-bar">
        <span>English | Urdu</span>
    </header>

    <main class="page">
        <div class="login-card">

            <div class="avatar">
                <span>+</span>
            </div>

            <!-- FORM START -->
            <form asp-controller="Login" asp-action="Login" method="post">

                <select class="input" name="CompanyId">
                    <option value="">Select Company</option>

                    @foreach (var company in (List<Company>)ViewBag.Companies)
                    {
                        <option value="@company.CompanyId">
                            @company.CompanyName
                        </option>
                    }
                </select>


                <input class="input"
                       asp-for="Email"
                       type="email"
                       placeholder="Ex: Johndoe@financial.com"/>

                <div class="password-field">
                    <input class="input"
                           asp-for="Password"
                           type="password"
                           id="password"
                           placeholder="Enter your password" />
                    <span class="eye" onclick="togglePassword()">👁</span>
                </div>

                <div class="options">
                    <label>
                        <input type="checkbox" /> Stay Signed In
                    </label>
                    <a href="#">Forgot Password?</a>
                </div>

                <p class="terms">
                    By clicking Login, you agree to the terms and conditions.
                </p>

                <button class="login-btn" type="submit">Login</button>

            </form>
            <!-- FORM END -->

        </div>
    </main>

    <footer>
        ©2025 STARCMMS. All Rights Reserved.
    </footer>

    <script>
        function togglePassword() {
            const input = document.getElementById('password');
            input.type = input.type === 'password' ? 'text' : 'password';
        }
    </script>

</body>
</html>

@if (ViewData.ModelState.ErrorCount > 0)
{
    <script>
        alert("Invalid login credentials");
    </script>
}
